# Estudo do Curso de Ciências e Tecnologia

In [134]:
import pandas as pd

df_matriculas = pd.read_csv('matricula-componente-20171.csv',sep=';')
df_componentes = pd.read_csv('cursos-graduacao.csv', sep=';')

In [135]:
df_matriculas.columns

Index(['id_turma', 'discente', 'id_curso', 'unidade', 'nota', 'reposicao',
       'faltas_unidade', 'media_final', 'numero_total_faltas', 'descricao'],
      dtype='object')

In [136]:
df_componentes.columns

Index(['id_curso', 'nome', 'id_coordenador', 'coordenador', 'situacao_curso',
       'nivel_ensino', 'grau_academico', 'modalidade_educacao',
       'area_conhecimento', 'tipo_oferta', 'turno', 'tipo_ciclo_formacao',
       'municipio', 'campus', 'id_unidade_responsavel', 'unidade_responsavel',
       'website', 'data_funcionamento', 'codigo_inep', 'dou',
       'portaria_reconhecimento', 'convenio_academico'],
      dtype='object')

In [137]:
df_matriculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632295 entries, 0 to 632294
Data columns (total 10 columns):
id_turma               632295 non-null int64
discente               632295 non-null object
id_curso               629478 non-null float64
unidade                555551 non-null float64
nota                   542221 non-null float64
reposicao              555551 non-null object
faltas_unidade         555551 non-null float64
media_final            564724 non-null float64
numero_total_faltas    581030 non-null float64
descricao              632295 non-null object
dtypes: float64(6), int64(1), object(3)
memory usage: 48.2+ MB

In [138]:
df_componentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 22 columns):
id_curso                   118 non-null int64
nome                       118 non-null object
id_coordenador             116 non-null float64
coordenador                116 non-null object
situacao_curso             118 non-null object
nivel_ensino               118 non-null object
grau_academico             118 non-null object
modalidade_educacao        118 non-null object
area_conhecimento          118 non-null object
tipo_oferta                118 non-null object
turno                      71 non-null object
tipo_ciclo_formacao        114 non-null object
municipio                  118 non-null object
campus                     67 non-null object
id_unidade_responsavel     118 non-null int64
unidade_responsavel        118 non-null object
website                    70 non-null object
data_funcionamento         71 non-null object
codigo_inep                117 non-null float64
dou                        113 non-null object
portaria_reconhecimento    113 non-null object
convenio_academico         3 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 20.4+ KB

In [139]:
# merge dos DataFrames
df_tables = pd.merge(df_matriculas, df_componentes, on='id_curso')

In [140]:
df_tables.columns

Index(['id_turma', 'discente', 'id_curso', 'unidade', 'nota', 'reposicao',
       'faltas_unidade', 'media_final', 'numero_total_faltas', 'descricao',
       'nome', 'id_coordenador', 'coordenador', 'situacao_curso',
       'nivel_ensino', 'grau_academico', 'modalidade_educacao',
       'area_conhecimento', 'tipo_oferta', 'turno', 'tipo_ciclo_formacao',
       'municipio', 'campus', 'id_unidade_responsavel', 'unidade_responsavel',
       'website', 'data_funcionamento', 'codigo_inep', 'dou',
       'portaria_reconhecimento', 'convenio_academico'],
      dtype='object')

In [141]:
df_tables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 588326 entries, 0 to 588325
Data columns (total 31 columns):
id_turma                   588326 non-null int64
discente                   588326 non-null object
id_curso                   588326 non-null object
unidade                    544130 non-null float64
nota                       531935 non-null float64
reposicao                  544130 non-null object
faltas_unidade             544130 non-null float64
media_final                529525 non-null float64
numero_total_faltas        540882 non-null float64
descricao                  588326 non-null object
nome                       588326 non-null object
id_coordenador             573645 non-null float64
coordenador                573645 non-null object
situacao_curso             588326 non-null object
nivel_ensino               588326 non-null object
grau_academico             588326 non-null object
modalidade_educacao        588326 non-null object
area_conhecimento          588326 non-null object
tipo_oferta                588326 non-null object
turno                      411698 non-null object
tipo_ciclo_formacao        580233 non-null object
municipio                  588326 non-null object
campus                     407847 non-null object
id_unidade_responsavel     588326 non-null int64
unidade_responsavel        588326 non-null object
website                    453280 non-null object
data_funcionamento         411698 non-null object
codigo_inep                588134 non-null float64
dou                        580031 non-null object
portaria_reconhecimento    580031 non-null object
convenio_academico         1064 non-null object
dtypes: float64(7), int64(2), object(22)
memory usage: 143.6+ MB

In [142]:
# filtrando notas de CeT
df_tables = df_tables[df_tables.nome == 'CIÊNCIAS E TECNOLOGIA']

In [143]:
df_tables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64442 entries, 192820 to 257261
Data columns (total 31 columns):
id_turma                   64442 non-null int64
discente                   64442 non-null object
id_curso                   64442 non-null object
unidade                    57565 non-null float64
nota                       55786 non-null float64
reposicao                  57565 non-null object
faltas_unidade             57565 non-null float64
media_final                55271 non-null float64
numero_total_faltas        56786 non-null float64
descricao                  64442 non-null object
nome                       64442 non-null object
id_coordenador             64442 non-null float64
coordenador                64442 non-null object
situacao_curso             64442 non-null object
nivel_ensino               64442 non-null object
grau_academico             64442 non-null object
modalidade_educacao        64442 non-null object
area_conhecimento          64442 non-null object
tipo_oferta                64442 non-null object
turno                      0 non-null object
tipo_ciclo_formacao        64442 non-null object
municipio                  64442 non-null object
campus                     0 non-null object
id_unidade_responsavel     64442 non-null int64
unidade_responsavel        64442 non-null object
website                    64442 non-null object
data_funcionamento         0 non-null object
codigo_inep                64442 non-null float64
dou                        64442 non-null object
portaria_reconhecimento    64442 non-null object
convenio_academico         0 non-null object
dtypes: float64(7), int64(2), object(22)
memory usage: 15.7+ MB

In [144]:
# pegando apenas as colunas que interessam
columns = ['id_turma', 'discente', 'unidade', 'nota', 'reposicao', 'faltas_unidade', 'media_final', 'numero_total_faltas', 'descricao']
aux = df_tables[columns]

In [145]:
aux.head(3)

,id_turma,discente,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
192820,57593876,70ff2a8ab524705ddf50f4bdffa48d9a,NaN,NaN,NaN,NaN,NaN,NaN,INDEFERIDO
192821,57595855,0df99d841abe94466d686fe14e71ff34,1.0,8.7,f,0.0,8.7,0.0,APROVADO
192822,57595855,0df99d841abe94466d686fe14e71ff34,1.0,8.7,f,0.0,8.7,0.0,APROVADO

In [146]:
# tratando NaN
# Eliminando data missing
aux = aux.dropna()

In [147]:
aux.descricao.value_counts()

APROVADO POR NOTA                   21459
APROVADO                            14192
REPROVADO                           11047
REPROVADO POR MÉDIA E POR FALTAS     4940
CANCELADO                            3381
TRANCADO                              109
REPROVADO POR NOTA                    105
REPROVADO POR FALTAS                   22
EXCLUIDA                                8
REPROVADO POR NOTA E FALTA              6
Name: descricao, dtype: int64

### Verificando a existência do NaN

In [148]:
# identificando NaN
df_tables.discente.isnull().values.any()

False

In [149]:
aux[aux.descricao == 'CANCELADO'].head()

,id_turma,discente,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
192833,57599126,5ff71bc1f0d4575cc05146aac69ad10c,2.0,0.0,f,0.0,0.0,0.0,CANCELADO
192834,57599126,5ff71bc1f0d4575cc05146aac69ad10c,1.0,0.0,f,0.0,0.0,0.0,CANCELADO
192835,57599126,5ff71bc1f0d4575cc05146aac69ad10c,3.0,0.0,f,0.0,0.0,0.0,CANCELADO
192907,57595049,a8bc0c7004447640dc35424aea78b316,3.0,0.0,f,0.0,0.0,68.0,CANCELADO
192908,57595049,a8bc0c7004447640dc35424aea78b316,2.0,0.0,f,0.0,0.0,68.0,CANCELADO

In [150]:
aux[aux.descricao == 'EXCLUIDA'].head()

,id_turma,discente,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
212142,57595027,b13ef12579ac9b1cbed6feb8970a8cec,1.0,0.0,f,0.0,0.0,0.0,EXCLUIDA
212143,57595027,b13ef12579ac9b1cbed6feb8970a8cec,2.0,0.0,f,0.0,0.0,0.0,EXCLUIDA
212144,57595027,b13ef12579ac9b1cbed6feb8970a8cec,3.0,0.0,f,0.0,0.0,0.0,EXCLUIDA
244384,57595027,0f97c85b31bbc5c9303817fbc603b455,1.0,2.5,f,0.0,2.9,0.0,EXCLUIDA
244385,57595027,0f97c85b31bbc5c9303817fbc603b455,2.0,3.6,f,0.0,2.9,0.0,EXCLUIDA

In [151]:
aux[aux.descricao == 'TRANCADO'].head()

,id_turma,discente,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
194892,57595046,8cb0ed9de57b613857fd254eec7d59e4,3.0,0.0,f,0.0,0.0,0.0,TRANCADO
194893,57595046,8cb0ed9de57b613857fd254eec7d59e4,2.0,0.0,f,0.0,0.0,0.0,TRANCADO
194894,57595046,8cb0ed9de57b613857fd254eec7d59e4,1.0,0.0,f,0.0,0.0,0.0,TRANCADO
195651,57595803,0eff10ea7ca18c6421db386a176c2b7e,1.0,0.0,f,0.0,0.0,0.0,TRANCADO
206789,57595204,291403c18b0ae7464c8a95e9bb40a15a,2.0,0.0,f,0.0,0.0,0.0,TRANCADO

In [152]:
aux[aux.descricao == 'INDEFERIDO'].head()

Empty DataFrame
Columns: [id_turma, discente, unidade, nota, reposicao, faltas_unidade, media_final, numero_total_faltas, descricao]
Index: []

In [153]:
df_tables[df_tables.descricao == 'INDEFERIDO'].head(3)

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,...,municipio,campus,id_unidade_responsavel,unidade_responsavel,website,data_funcionamento,codigo_inep,dou,portaria_reconhecimento,convenio_academico
192820,57593876,70ff2a8ab524705ddf50f4bdffa48d9a,1.03208e+07,NaN,NaN,NaN,NaN,NaN,NaN,INDEFERIDO,...,NATAL,NaN,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,http://www.prograd.ufrn.br,NaN,116756.0,2014-03-31,Portaria nº 217/2014 - DIREG/MEC,NaN
192823,57598074,8eeb08d8f3150368350580ec19471702,1.03208e+07,NaN,NaN,NaN,NaN,NaN,NaN,INDEFERIDO,...,NATAL,NaN,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,http://www.prograd.ufrn.br,NaN,116756.0,2014-03-31,Portaria nº 217/2014 - DIREG/MEC,NaN
192897,57595000,c119d334d6c55121d48dc7f5d43bbe1f,1.03208e+07,NaN,NaN,NaN,NaN,NaN,NaN,INDEFERIDO,...,NATAL,NaN,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,http://www.prograd.ufrn.br,NaN,116756.0,2014-03-31,Portaria nº 217/2014 - DIREG/MEC,NaN

In [154]:
aux[aux.descricao == 'DESISTENCIA'].head()

Empty DataFrame
Columns: [id_turma, discente, unidade, nota, reposicao, faltas_unidade, media_final, numero_total_faltas, descricao]
Index: []

In [155]:
df_tables[df_tables.descricao == 'DESISTENCIA'].head(3)

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,...,municipio,campus,id_unidade_responsavel,unidade_responsavel,website,data_funcionamento,codigo_inep,dou,portaria_reconhecimento,convenio_academico
192894,57599126,37e10cd28bb710c82fbf51d6e46b612b,1.03208e+07,NaN,NaN,NaN,NaN,NaN,NaN,DESISTENCIA,...,NATAL,NaN,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,http://www.prograd.ufrn.br,NaN,116756.0,2014-03-31,Portaria nº 217/2014 - DIREG/MEC,NaN
192911,57595049,59cee23838f23033ca9dd6578409b35d,1.03208e+07,NaN,NaN,NaN,NaN,NaN,NaN,DESISTENCIA,...,NATAL,NaN,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,http://www.prograd.ufrn.br,NaN,116756.0,2014-03-31,Portaria nº 217/2014 - DIREG/MEC,NaN
193132,57596261,799d3faebd20bdd1b7b108a95cb9b987,1.03208e+07,NaN,NaN,NaN,NaN,NaN,NaN,DESISTENCIA,...,NATAL,NaN,4885,ESCOLA DE CIÊNCIAS E TECNOLOGIA,http://www.prograd.ufrn.br,NaN,116756.0,2014-03-31,Portaria nº 217/2014 - DIREG/MEC,NaN

## DF filtrado

In [156]:
df_filteredTable = aux

In [157]:
df_filteredTable.head(3)

,id_turma,discente,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
192821,57595855,0df99d841abe94466d686fe14e71ff34,1.0,8.7,f,0.0,8.7,0.0,APROVADO
192822,57595855,0df99d841abe94466d686fe14e71ff34,1.0,8.7,f,0.0,8.7,0.0,APROVADO
192824,57598074,1e17512d2d5561ef70dc8c75443a18a6,3.0,8.9,f,0.0,8.2,10.0,APROVADO

## Por disciplinas